@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    width: 1440px;

    border: 2px solid red;
}

header{
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.mariela{
    position: absolute;
    left: 113px;
}
nav ul li{
    display: inline-block;
    padding: 35px;
}
nav{
    margin-left: 560px;
}
nav a{
    text-decoration: none;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;

}
.korzina{
    position: absolute;
    right: 140px;
}

.block1{
    position: relative;
}

.purple1{
    background-color: #C9ADC6;
    height: 458px;
}

.purple2{
    background-color: #D6BBD3;
    height: 359px;
}

.pillow{
    position: absolute;
    margin: 72px 411px 70px 178px;

}
.purple3{
    position: absolute;
    background-color: #B08EAD;
    width: 425px;
    height: 450px;
    right: 113px;
    top: 182px;
}
.new, .purple3 a{
    width: 35px;
    height: 30px;
    font-family: 'Roboto Serif', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 40px;
}

.spring{
    font-family: 'Cormorant Garamond', serif;
    margin-left: 40px;
    font-weight: normal;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.new{
    margin-top: 124px;
    margin-bottom: -30px;
}

.block2{
    margin: 87.5px;
}

.im, .learn{
    font-family: 'Roboto Serif', sans-serif;
    color: #B99BB6;
    text-align: center;
    font-weight: normal;
}

.based{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #5F4D5D;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
}

.im{
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.learn{
    width: 141px;
    height: 45px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 16px 29px;
    border: 1px solid #B99BB6;
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: 46%;
}
.pictures{
    display: flex;
}

.girl, .pillow2, .keyboard{
    margin: 50px 37px 0 22px;
}



.purple4{
    background-color: #CEB3CB;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    height: 427px;
    width: 368px;

}

.p1{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    margin-left: 23px;
    margin-top: 23px;
}

.p2{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    margin-left: 23px;
    margin-top: -20px;

}







